<div id="contactme" class="d-flex align-items-center mt-5 text-white ">

    <div class="col-5">
        <h3 class="ms-5"> Info</h3>
        <div class="col-5 ms-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero veniam voluptates dicta, illum eos sequi ea,
            provident enim placeat atque
        </div>
    </div>
    <button class="col-2 btn btn-outline-light" style="height: 50px;">CONTACT ME</button>
    <div class="ms-5 ps-5">
        <h3 class="ms-5"> GET IN TOUCH</h3>
        <ul class="ms-3">

            <li>
                <i class="fa fa-envelope me-3"></i>
                am21gmail.com
            </li>
            <li>
                <i class="fas fa-phone me-3"></i>
                717-555-1234
            </li>

        </ul>
    </div>
</div>