<div class="d-flex justify-content-evenly mt-5 mb-5">

    <h1 class="me-5 mt-5">ABOUT ME</h1>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, alias porro, aliquid, error quo ullam earum eos
        obcaecati animi aspernatur unde illum. Molestiae beatae reiciendis iure aliquam. Aperiam, officiis
        necessitatibus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis distinctio nulla dignissimos
        similique quae
        repellat, assumenda, veritatis numquam architecto est impedit atque explicabo dolor illo culpa mollitia
        repudiandae voluptas quaerat.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto consequuntur
        voluptates explicabo
        perspiciatis veniam illum culpa dolorum laboriosam magnam reprehenderit cumque nam aperiam porro totam,
    </p>
    <button id="resume" class="btn btn-secondary">Download Resume</button>
</div>